
@font-face {
  font-family: 'Interface';
  font-style: normal;
  font-weight: 900;
  src: url(Interface-Black.woff2) format('woff2');
  src: url(Interface-Black.woff) format('woff');
}

@font-face {
  font-family: 'Interface';
  font-style: normal;
  font-weight: 700;
  src: url(Interface-Bold.woff2) format('woff2');
  src: url(Interface-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Interface';
  font-style: normal;
  font-weight: 500;
  src: url(Interface-Medium.woff2) format('woff2');
  src: url(Interface-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Interface';
  font-style: normal;
  font-weight: 400;
  src: url(Interface-Regular.woff2) format('woff2');
  src: url(Interface-Regular.woff) format('woff');
}
