* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter UI', sans-serif;
  color: #222;
  overflow: auto;
  overflow-x: hidden;
  background-color: #eee;
}

h1 {
  letter-spacing: -0.0125em;
}

h1, h2 {
  font-weight: 900;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

h3, h4 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: #000;
}

h1 {
  margin: 1.5rem 0;
}

h2, h3, h4 {
  margin-top: 1.5em;
  padding-top: 1.5em;
}

p {
  font-size: calc(1rem + 1px);
  line-height: 1.5;
  max-width: 35rem;
  margin: 1.5em 0;
}

li {
  line-height: 1.5;
  max-width: 35rem;
}

strong {
  font-weight: 500;
  color: #000;
}

code {
  display: inline-block;
  margin: .1rem 0;
  padding: 0 0.25rem;

  font: inherit;
  font-family: 'Inconsolata', monospace;
  line-height: 1.3;

  background-color: #eee;

  white-space: pre-wrap;
}

pre > code {
  background-color: #161616;
  color: #eee;
  font-size: .875rem;
  line-height: 1.25;
  padding: 1.5rem;
  padding-bottom: 0;
  border-radius: 0.25rem;
}

#doc {
  position: absolute;
  top: 0;
  left: 14rem;
  right: 0;

  padding: .5rem 1.5rem;
  padding-bottom: 3rem;
  background-color: #fff;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 14rem;
  height: 100%;

  padding: .5rem 1rem;
  padding-bottom: 4.5rem;

  overflow: auto;
  overflow-x: hidden;

  -webkit-overflow-scrolling: touch;

  background-color: #fff;
}

#menu .menu-item {
  margin: 0;
  padding: .125rem 0;
}

#menu .menu-item + .menu-item:not(.menu-sub-item) {
  padding-top: 1.125rem;
}

#menu .menu-item a {
  display: block;
}

#hovermenu {
  position: fixed;
  bottom: 3rem;
  right: 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  background: linear-gradient(to bottom, hsl(360, 80%, 44%), hsl(346, 80%, 36%));
  background-color: hsl(352, 80%, 40%);
  color: rgba(255, 255, 255, 0.95);
  padding: 1rem 1.25rem;
  cursor: pointer;
  border: 1px solid #ba152b;
  border-radius: 0.1875rem;
}

#hovermenu:hover {
  background: linear-gradient(to bottom, hsl(360, 80%, 48%), hsl(346, 80%, 41%));
  background-color: hsl(352, 80%, 45%);
  color: #fff;
}

#logo {
  display: block;
  width: 5rem;
  margin: 2rem auto;
}

a {
  color: #d31b33;
}

a:not(:hover) {
  text-decoration: none;
}

@media (min-width: 1024px) {
  #menu {
    width: 20rem;
    padding: 2rem;
  }

  #doc {
    left: 20rem;
    padding: 2rem 3rem;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 125%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 75%;
  }
}
