* {
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
  color: #222;
  overflow: auto;
  overflow-x: hidden;
}

h1, h2 {
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

h3, h4 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

h1 {
  margin: 1.5rem 0;
}

h2, h3, h4 {
  margin-top: 1.5em;
  padding-top: 1.5em;
}

p {
  line-height: 1.5;
  max-width: 35rem;
  margin: 1.5em 0;
}

li {
  line-height: 1.5;
  max-width: 35rem;
}

strong {
  font-weight: 600;
}

code {
  display: inline-block;
  margin: .1rem 0;
  padding: 0 0.25rem;

  font: inherit;
  font-family: 'Inconsolata', monospace;
  line-height: 1.3;

  background-color: #eee;
}

pre > code {
  background-color: #161616;
  color: #eee;
  font-size: .875rem;
  line-height: 1.25;
  padding: 1.5rem;
  padding-bottom: 0;
  border-radius: 4px;
}

#doc {
  position: absolute;
  top: 0;
  left: 15rem;

  width: calc(100% - 15rem);

  padding: .5rem;
  padding-bottom: 3rem;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 14rem;
  height: 100%;

  padding: .5rem;
  padding-bottom: 4.5rem;

  overflow: auto;
  overflow-x: hidden;
}

#menu .menu-item {
  margin: 0;
  padding: .125rem 0;
}

#menu .menu-item + .menu-item:not(.menu-sub-item) {
  padding-top: 1.125rem;
}

#menu .menu-item a {
  display: block;
}

#logo {
  display: block;
  width: 5rem;
  margin: 2rem 0;
}

a {
  color: #d31b33;
}

a:not(:hover) {
  text-decoration: none;
}
