* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter UI', sans-serif;
  color: #222;
  background-color: #fff;
}

h1 {
  letter-spacing: -0.0125em;
}

h1, h2 {
  font-weight: 900;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

h3, h4 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: #000;
}

h1 {
  margin: 1.5rem 0;
}

h2, h3, h4 {
  margin-top: 1.5em;
  padding-top: 1.5em;
}

#doc p {
  font-size: calc(1rem + 1px);
  line-height: 1.5;
  max-width: 35rem;
  margin: 1.5em 0;
}

#menu {
  font-size: calc(1rem + 1px);
}

#menu p {
  line-height: 1.25;
  max-width: 35rem;
  margin: 1.5em 0;
}

li {
  line-height: 1.5;
  max-width: 35rem;
}

strong {
  font-weight: 500;
  color: #000;
}

code {
  display: inline-block;
  margin: .1rem 0;
  padding: 0 0.25rem;

  font: inherit;
  font-family: 'Inconsolata', monospace;
  line-height: 1.3;

  background-color: #eee;

  white-space: pre-wrap;
}

pre > code {
  background-color: #161616;
  color: #eee;
  font-size: .875rem;
  line-height: 1.25;
  padding: 1.5rem;
  padding-bottom: 0;
  border-radius: 0.25rem;
}

#doc {
  position: absolute;
  top: 0;
  left: 14rem;
  right: 0;

  padding: .5rem 1.5rem;
  padding-bottom: 25vh;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 14rem;
  height: 100%;

  padding: .5rem 1.5rem;
  padding-bottom: 25vh;

  overflow: auto;
  overflow-x: hidden;

  -webkit-overflow-scrolling: touch;

  background-color: #fff;
}

#menu .menu-item {
  margin: 0;
  padding: .25rem 0;
}

#menu .menu-item + .menu-item:not(.menu-sub-item) {
  padding-top: 1.125rem;
}

#menu .menu-item a {
  display: block;
}

#menu.slidein, #hovermenu.slidein, #hovermenuclose.slidein {
  animation: slidein 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  animation-fill-mode: both;
}

#menu.fadeout, #hovermenu.fadeout {
  animation: fadeout 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  animation-fill-mode: both;
}

#doc.pushin {
  animation: pushin 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  animation-fill-mode: both;
}

#doc.pushout {
  animation: pushout .5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  animation-fill-mode: both;
}

#logo {
  display: block;
  width: 50%;
  margin: 2rem auto;
}

#hovermenu, #hovermenuclose {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  font-size: calc(1.25rem + 1px);
  font-weight: 500;
  text-transform: uppercase;
  background: linear-gradient(to bottom, hsl(360, 80%, 44%), hsl(346, 80%, 36%));
  background-color: hsl(352, 80%, 40%);
  color: rgba(255, 255, 255, 0.95);
  padding: 1.125rem 1.75rem;
  cursor: pointer;
  border-radius: 0.1875rem;
}

#hovermenuclose {
  pointer-events: none;
}

#hovermenu:hover, #hovermenuclose:hover {
  background: linear-gradient(to bottom, hsl(360, 80%, 48%), hsl(346, 80%, 41%));
  background-color: hsl(352, 80%, 45%);
  color: #fff;
}

a {
  color: #d31b33;
}

a:not(:hover) {
  text-decoration: none;
}

@keyframes slidein {
  0% {
    transform: translate(0, 1.5rem);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

@media (min-width: 1024px) {
  #menu {
    width: 20rem;
    padding: 2rem;
  }

  #doc {
    left: 20rem;
    padding: 2rem 3rem;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 125%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 75%;
  }
}
